.index_page{
  width: 100%;
  height: 100%;
  position: relative;
  .index_content{
    display: flex;
    padding: 15px 60px;
    >div{
      height: 915px;
      margin: 5px;
    }
    // 第一模块
    .index-first{
      width: 585px;
      padding: 15px 20px;
      &__top{
        .top-left{
          width: 307px;
          .title_tip{
            font-size: 16px;
          }
          .order-num{
            font-size: 14px;
            justify-content: space-between;
          }
          .compare{
            margin-left: 25px;
          }
          .amount{
            max-width: 178px;
            color: #FFCC00;
            font-size: 36px;
          }
        }
        .top-right{
          width: 217px;
          height: 120px;
          margin-left: 20px;
        }
      }
      .meet-target{
        justify-content: space-between;
        &>div{
          flex-direction: column;
          display: flex;
        }
      }
    }
    // 第二模块
    .index_sec{
      border: none;
      width: calc(860px + 285px + 15px);
      .top_left{
        width: 860px;
        height: 523px;
        padding: 13px 25px;
        position: relative;
        .area-list{
          position: absolute;
          left: 23px;
          bottom: 15px;
          padding: 7px 10px;
          align-self: flex-end;
          width: 135px;
          height: 247px;
          background: #010F3E 100%;
          border-radius: 6px;
          font-size: 16px;
          flex-shrink: 0;
          &>div{
            margin: 5px 0;
          }
          .active{
            font-size: 18px;
            color: #04FCE9;
          }
        }
        .factory-live{
          object-fit: fill;
          position: absolute;
          width: 210px;
          height: 180px;
          top: 20px;
          right: 20px;
          border-radius: 6px;
        }
      }
      .top-right{
        width: 285px;
        height: 523px;
        margin-left: 15px;
        &_top{
          justify-content: center;
          flex-direction: column;
          height: 120px;
          width: 100%;
          border-bottom: 1px solid rgba(51, 67, 113, 1);
          .tip{
            color: #07C297;
            font-size: 28px;
          }
          .tip1{
            margin: 5px 0;
          }
          .tip2{
            color: #4CD964;
          }
        }
        &_mid{
          padding: 10px 18px 15px;
          font-size: 14px;
          height: 200px;
          .mid-tip{
            color: #5d6b95;
          }
          border-bottom: 1px solid rgba(51, 67, 113, 1);
          .rank-list{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
              width: 100%;
              margin-bottom: 15px;
              .fr{
                text-align: right;
              }
              .all{
                color: #0B6099;
                font-size: 14px;
              }
            }
          }
          .rank::before{
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border-radius: 10px 10px;
            color: #fff;
            font-size: 14px;
            margin-right: 25px;
          }
          .rank+div{
            width: 130px;
            height: 20px;
          }
          .no-one{
            &::before{
              content: "1";
              background: #FFCC00;
            }
          }
          .no-two{
            &::before{
              content: "2";
              background: #07C297;
            }
          }
          .no-three{
            &::before{
              content: "3";
              background: #149EEB;
            }
          }
        }
        &_bottom{
          height: 205px;
          padding: 10px 18px 15px;
          .max-height{
            height: 180px;
            overflow: scroll;
          }
        }
      }
      .bottom{
        &>div{
          width: 575px;
          height: 378px;
          padding: 15px 20px;
        }
      }
    }
    // 第三模块
    .index_third{
      width: 655px;
      &>div{
        padding: 15px 13px 15px 20px;
      }
      &-top{
        height: 523px;
        .plan-content{
          width: 100%;
          font-size: 16px;
          color: #4EBBF5;
          .plan-title{
            padding-left: 17px;
            p:first-child{
              width: 230px;
              flex-shrink: 0;
            }
          }
        }
      }
      &-bottom{
        height: 378px;
        color:  rgba(207, 220, 255, 0.85);
      }
    }
    // 第四模块
    .index_four{
      width: 510px;
      &-top{
        height: 266px;
        .max-height{
          height: 190px;
          overflow: hidden;
          background: #031140;
        }
      }
      &-mid{
        height: 375px;
      }
      &-bottom{
        height: 255px;
        font-size: 12px;
        padding-right: 5px !important;
        padding-bottom: 10px !important;
        .type_index{
          color: #546781;
        }
        .content{
          color: rgba(207, 220, 255, 0.8);
          justify-content: space-between;
        }
        li{
          height: 10%;
        }
        .ta-r{
          text-align: right;
        }
        .w70{
          width: 70px;
        }
        .w55{
          width: 55px;
        }
      }
      &>div{
        padding: 15px 20px;
      }
    }
    .news_warp{
      background: #031140;
      color: #BDC9EC;
      font-size: 14px;
      padding: 4px;
      .news-date{
        font-size: 12px;
        color: #5D6B95;
        display: flex;
        align-items: flex-start;
        &+div{
          padding-left: 14px;
        }
        &::before{
          display: inline-block;
          content: '';
          height: 20px;
          width: 4px;
          border-radius: 2px;
          background: #012666;
          margin-right: 10px;
        }
      }
    }
    .header{
      justify-content: space-between;
    }
  }
}