.index_page{
  width: 3070px;
  height: 1390px;
  background: #000b2d;
  .index_content{
    display: flex;
    padding: 15px 60px;
    >div{
      height: 915px;
      margin: 5px;
      border-radius: 6px;
      border: 1px solid rgba(51, 67, 113, 1);
    }
    .index_first{
      width: 585px;
      
    }
    .index_sec{
      width: calc(860px + 285px + 15px);
      .top_left{
        
      }
    }
  }
}