* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Microsoft YaHei';
  &::-webkit-scrollbar {display:none}
}
html,
body,
img,
#app {
  width: 100%;
  margin: 0;
  color: #333;
  height: 100%;
}

li {
  list-style: none;
}

button {
  border-radius: 3px !important;
}
table{
  border-collapse:collapse
}
body {
  background-color: #f5f6f9 !important;
}

a {
  text-decoration: none;
  transition-duration: 0.25s;
  cursor: pointer;
  font-size: 14px;
  color: #2681FF;
}

u {
  cursor: pointer;
  color: #2681FF;
}

.clearfix {
  &:after {
    display: block;
    height: 0;
    clear: both;
    content: '\20';
  }
}

.hand {
  cursor: pointer;
}

.disable{
  pointer-events: none;
  cursor: auto;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.flex {
  display: flex ;
  align-items: center;
}

// 字体

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.fs30 {
  font-size: 30px;
}
.fw5{
  font-weight: 500;
}
.mt55{
  margin-top: 55px;
}
.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt25{
  margin-top: 25px;
}
.mb10{
  margin-bottom: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.ml15{
  margin-left: 15px;
}
.mr10{
  margin-right: 10px;
}
.pr5{
  padding-right: 5px;
}
.pr35{
  padding-right: 35px;
}
.pl15{
  padding-left: 15px;
}
.anim{
  transition: all 0.5s;
  margin-top: -30px;
}
.title{
  padding: 8px 23px 3px 20px;
  font-size: 20px;
  color: #5AC8FA;
  line-height: 30px;
  background: url('../images/title_bg1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.title_1{
  font-size: 16px;
  color: #4EBBF5;
  display: flex;
  align-items: center;
}
.border_warp{
  border-radius: 6px;
  border: 1px solid rgba(51, 67, 113, 1);
}
.custom-radio {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 25px;
  border-radius: 6px;
  border: 1px solid rgba(51, 67, 113, 1);
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  .active {
    color: #5ac8fa;
    border-radius: 2px;
    background-color: rgba(0, 122, 255, 0.2);
    border: 0.6px solid rgba(0, 122, 255, 1);
  }
}