* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
img,
#app {
  width: 100%;
  margin: 0;
  color: #333;
  height: 100%;
}

li {
  list-style: none;
}

button {
  border-radius: 3px !important;
}

body {
  background-color: #f5f6f9 !important;
}

a {
  text-decoration: none;
  transition-duration: 0.25s;
  cursor: pointer;
  font-size: 14px;
  color: #2681FF;
}

u {
  cursor: pointer;
  color: #2681FF;
}

.clearfix {
  &:after {
    display: block;
    height: 0;
    clear: both;
    content: '\20';
  }
}

.hand {
  cursor: pointer;
}

.disable{
  pointer-events: none;
  cursor: auto;
}
.fl {
  float: left;
}

.fr {
  float: right;
}

.flex {
  display: flex ;
  align-items: center;
}

// 字体

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.fw5{
  font-weight: 500;
}
.mt55{
  margin-top: 55px;
}
.mt10{
  margin-top: 10px;
}
.mb25{
  margin-bottom: 25px;
}
.mb20{
  margin-bottom: 20px;
}
.pr5{
  padding-right: 5px;
}
.title{
  font-size: 20px;
  color: #5AC8FA;
  display: flex;
  align-items: center;
}
.title_1{
  font-size: 16px;
  color: #4EBBF5;
  display: flex;
  align-items: center;
}
.border_warp{
  border-radius: 6px;
  border: 1px solid rgba(51, 67, 113, 1);
}